<% content_for :title, "Import rows" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-md inline-block" id="alert"><%= alert %></p>
  <% end %>

  <div id="import_rows" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @import.present? %>
      <%= render "import_row_table_specific_import" %>
    <% else %>
      <% if @import_rows.any? %>
        <%= render "import_row_table_all" %>
      <% else %>
        <p class="text-center my-10">No import rows found.</p>
      <% end %>
    <% end %>
  </div>
</div>
